:root {
  --primary-color: #047857;
  --success-color: #10b981;
  --red: #dc2626;
  --bg-page: #f9fafb;
  --zaui-font-size-base: 18px;
}

body {
  background-color: var(--bg-page);
  color: #1f2937;
}
